@model MusicShop.Models.Order
@{
    ViewBag.Title = "PaymentChoice";
}

<h2>Choix du mode de Paiement et Validation de la commande</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Payment, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Payment, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Payment, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Validation de ma commande" class="btn btn-default" />
            </div>
        </div>
    </div>
}

